<!DOCTYPE html>
<html lang="en">
<head>

    <title>Document</title>
</head>
<body>
    <%
    let randomIndex = parseInt(Math.random()*chosenWords.length);
    let chosenWord = chosenWord[randomIndex];
    let [correctWord, correctPart, correctDef] = chosenWord.split('\t'); 
    %>

    <h1> Word Quiz! </h1>
    <h2> <% = correctWord %> - <% correctPart %></h2>
    <ol> 
        <% for (currentWord of chosenWords) { %>
            let [word,part,def] = current.Word.split('\t')
        }


    </ol>
</body>
</html>